<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/preflight.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="main-heading"><%= message %></h1>
    <p class="text"><%= error.status %></p>
    <pre><%= error.stack %></pre>
  </body>
</html>
