<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/preflight.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="main-heading">Legacy Shell for Your Microfrontends</h1>
    <p class="text">This is a legacy host for multiple smaller apps.</p>
    <p class="text"><a href="/service">Go to service page</a></p>
  </body>
</html>
